<div class="slider">
        <div class="slides">
            <div class="slide"><img src="../../assets/images/haloween_fond_1.jpg" alt="haloween_fond_1"></div>
            <div class="slide"><img src="../../assets/images/haloween_fond_2.jpg" alt="haloween_fond_2"></div>
            <div class="slide"><img src="../../assets/images/haloween_fond_3.jpg" alt="haloween_fond_3"></div>
            <div class="slide"><img src="../../assets/images/fond_haloween_4.jpg" alt="fond_haloween_4"></div>
        </div>
    </div>

