* {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgray;
    height: 600px;
}

header nav {
    background-color: white;
    height: 50px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style-type: none;
}

header nav ul li {
    width: 150px;
    text-align: center;
    margin-top: 12px;
}